
@{
    ViewBag.Title = "StartPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br/>
<table>
    <thead>
    <tr>
        <th class="limiter"></th>
        <th><abbr title="Position">Pos</abbr></th>
        <th class="hide-for-mobile"><abbr title="Number">No</abbr></th>
        <th>Driver</th>
        <th class=" hide-for-tablet">Car</th>
        <th class=" hide-for-mobile">Laps</th>
        <th>Time/Retired</th>
        <th><abbr title="Points">Pts</abbr></th>
        <th class="limiter"></th>
    </tr>
    </thead>
</table>
